# Java
target/
*.log
*.class

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# Node
node_modules/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Logs
hs_err_pid*.log
replay_pid*.log