services:
  fastapi:
    build: ./api
    container_name: fastapi
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
    environment:
      - MONGO_URL=mongodb://mongodb:27017
 
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
 
  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
    ports:
      - "9000:9000"
      - "9001:9001"

  kong:
    image: kong:3.6
    container_name: kong
    ports:
      - "8000:8000"
      - "8001:8001"
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /kong/kong.yml
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
    volumes:
      - ./kong/kong.yml:/kong/kong.yml
    depends_on:
      - fastapi

  prometheus:
    image: prom/prometheus:v2.48.1
    platform: linux/amd64
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - fastapi
      - kong

  grafana:
    image: grafana/grafana:10.2.3
    platform: linux/amd64
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      


